body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
}
#starsBackground {
    position: fixed;
    z-index: 0;
    background: url('./background.jpg') no-repeat center center;
    height:100%;
    width:100%;
}
.star {
    height:6px;
    width: 6px;
    border-radius: 50px;
    position: absolute;
    box-shadow:0px 0px 3px 3px #2e42d4;
    background: linear-gradient(white,#9acacc);		
    opacity: 0;
    transition: .81s
}

.menuContainer {
    background: rgba(24,65,210,.3);
    position: fixed;
    z-index: 9999;
    list-style: none;
    height: 6%;
    width: 100%;    
}
.menu {
    margin-right: 10%;
    float: right;
    list-style: none;
}
.menu li {
    float: left;
}

.menu li a {
    outline: none;  
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding: 0 30px 10  px 30px;
    text-decoration: none;
    color: whitesmoke;
}

.menu li a:hover {
    transition: .3s;
    border-bottom: 3px solid whitesmoke;
}   

.header {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.welcomeContent {
    font-size: 30;
    transition: .5s;
    opacity: 0;
    margin: 20% 0 0 10%;
    width: 70%;
    text-align: center;
    color: white;
}
.welcomeContent img {
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin: 50px 30px 0 30px;
}
.welcomeContent img:hover {
    transform: scale(1.1);
    transition: .5s;
}

#skills {
    height: 1500px;
    width: 100%;
    background: silver;
    position: absolute;
    top: 1000px;
}
