.technologies {
    width: 100%;
}
.technologies-icons {
    height: 125px;
    width: 150px;
}
.technologies-box {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap; 
}
.technology-wrapper {   
    text-align: center;
    width:  75px;
    height: 125px;
    margin: 0 3.5% 0 3.5%;
    float: left;
}
.technology-wrapper img {
    width: 100%;
    height: 50%;
}
.technology-name {
    padding-top: 2%;
}